
*{
	margin: 0;
	padding: 0;
}
html{
	  font-family: "Roboto Slab", serif;
	scroll-behavior: smooth;
}
/* Responsive Styles for Mobile Devices */

.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.header img{
	width: 140px;
	margin-top: 5px;
	border-radius: 30%;
	border: px solid blue;
}
.header img:hover{
	border: px solid; black;
}
.header UL{
	display: flex;
}
.header li{
	list-style: none;
	margin: 0 10px;
	font-size: 15px;
}
.header a{
	text-decoration: none;
	font-size: 1.2em;
}


.hero{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	color: black;
	background: radial-gradient(#fff,lightgray);
}
.hero-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;

}
.deliver{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px ;
}
.hero-1 h1{
	font-size: ;
	margin-bottom:10px;
}
.hero-1 p{
	font-size: 15px;
	margin-bottom: 20px;
	text-align: center;


}
.hero-2 a{
	background: skyblue;
	padding: 7px;
	color: #fff;
	font-size: 15px;
	border-radius: 10px;
	text-decoration: none;
}
.hero-2 a:hover{
    border: 2px solid black;
    background: pink;
    color: black;
} 
.survices{
	display: flex;
	justify-content: space-evenly;
   margin-bottom: 20px;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding: 0 25px 0 25px;
	margin-bottom: 30px;
}
	
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item img{
	width: 250px;
	height: 300px;
	transition: 0.5s;

}
.title{
	text-align: center;
	margin: 0 auto 20px;
	position: relative ;
	line-height: 60px;
	color: #555;
}
h4{
	color: #555;
	font-weight: normal;
}

.title::after{
    content: '';
    background: skyblue;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}
.item:hover{
	transform: translatey(-5px)
} 
.item{
	transition: 0.5s;
}
.item img{
	width: 160px;
	height: 190px;
}
.item{
	text-align: center;
	background: #eee;
	
		cursor: pointer;
	padding: 3px;
	border-radius: 10px;
margin-bottom: 20px;
}
.pro{
	text-align: center;
	margin: 30px 0;
}
.pro p{
	font-size: 13px;
	text-align: center;
}
.pro h2{
	margin-bottom: 10px ;
	color: black;
}

.portfolio{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.portfolio h4{
  color: black;
}
.portfolio img{
	width: 120px;
}
.portfolio li{
	margin: 5px 0;
	list-style: none;
	font-size: 12px;
}
.contain{
	background-color: #eee;
	padding: 10px 0;

}
.about{
	display: flex;
	flex-direction: column;
	align-items: center; 
}
.about h4{
	text-align: center;
	color: black;
}
.about p{
	text-align: center;
	font-size: 12px;
}
.about img{
   width: 250px;
   display: block;
   margin: auto;
   
}
.about div{
	flex: 1;
	
}
{
	background: skyblue;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #fff;
	color: white;
	margin-top: 10px;
	cursor: pointer;
	font-size: 1em;
}
.about a:hover{
   border: 2px solid black;
   background: pink;
   color: black;
}

.contect{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.left img{
	width: 70px;
	margin-left: 13px;
}
.left a{
	font-size: 1.2em;
}
.left p{
	font-size: 11px;
}
.left{
	background: #eee;
	padding: 20px;
	padding-bottom: 36px;
   display: flex;
}
.left h4{
 color: black;
}
.left{
  display: flex;
  flex-direction: column;
}
.left h2{
	margin-bottom: 30px;

}
.left p{
   text-align: center;
}
.ber a{
	background: skyblue;
	padding: 5px;
	font-size: 13px;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	 border: 2px solid black;
	 cursor: pointer;
	margin-left: 125px;
	
}
.right strong{
	font-size: 13px;
}
.right p{
	font-size: 12px;
}
.about p{
	margin-bottom: 20px;
	text-align: center;
}
.about-1 p{
	text-align: center;
}

.footer{
	background: #292929;
	color: white;
	text-align: center;
	padding:20px 0;
	font-size: 14px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
